@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    background: #24292d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .card
{
    position: relative;
    width: 300px;
    height: 300px;
    background: #323840;
    box-shadow: 0 15px 25px rgb(0,0,0,0.025);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .card .content,
section .card .imgText
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section .card .imgText .imgBx
{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}
section .card .imgText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .card .imgText h3
{
    font-weight: 500;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: center;
    color: #2fa1ff;
}
section .card .imgText h3 span 
{
    font-weight: 400;
    color: #fff;
    font-size: 0.75em;
}
section .card .sci 
{
    display: flex;
    margin-top: 15px;
}
section .card .sci li
{
    list-style: none;
}
section .card .sci li a
{
    position: relative;
    width: 50px;
    height: 50px;
    background: #404852;
    color: #2fa1ff;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 20px;
    transition: 0.5s;
}
section .card .sci li a:hover
{
    color: #fff;
}
section .card .sci li a .fa
{
    position: relative;
    z-index: 1000;
}
section .card .sci li a:before 
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2fa1ff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.5s;
}
section .card .sci li a:hover:before 
{
    transform: scale(1);
}